
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>인천대학교 연구실 안전정보시스템</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/style_a.css" />
    <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" media="all" href="/css/ie7.css" />
    <![endif]-->
<script type="text/javascript" src="/js/jquery-1.6.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<link type="text/css" rel="stylesheet" href="/css/layout-default-latest_a.css" />
<script type="text/javascript" src="/js/ui/jquery-latest.js"></script>
<script type="text/javascript" src="/js/ui/jquery-ui-latest.js"></script>
<script type="text/javascript" src="/js/ui/jquery.layout-latest.js"></script>
<script type="text/javascript"  src="/js/ui/debug.js" ></script>
<script type="text/javascript"  src="/js/resizeingUI_a.js" ></script>
<script type='text/javascript' src='/js/ui/jquery.Floater.js'></script>
<script type="text/javascript" src="/js/ui/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/js/ui/jquery.scrollpane.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="/js/DD_belatedPNG.js"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]-->
</head>

<body>
<div id="wraper">
	<!-- #skipmenu -->
	<div id="skip_navi">
    	<ul>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#navigation">메인메뉴</a></li>
        </ul>
	</div>
	<!-- //#skip_navi -->
	<div id="wrapArea" class="all-center">	
	<div id="wrap">		
				<div id="head" class="outer-north">
			<div class="headwrap">
				 <h1><a href="/index.asp"><img src="/images/layout/logoa.gif" alt="인천대학교 연구실 안전정보시스템" /></a></h1>
				<div class="member">
				<span>홍길동</span>님 환영합니다.
				</div>
				<ul class="util">
					<li><a href="/account/login.asp"><img src="/images/layout/btn_util04.gif" alt="로그인" /></a></li>
					<!-- 
					<li><a href="#"><img src="/images/layout/btn_util01.gif" alt="로그아웃" /></a></li>
					-->
					<li><a href="#"><img src="/images/layout/btn_util02.gif" alt="개인정보" /></a></li>
					<li><a href="#"><img src="/images/layout/btn_util03.gif" alt="대학홈" /></a></li>
				</ul>
				<div id="navigation">
					<ul>
						<li><a href="/areas/unitylabs/groupmng/index.asp"><img src="/images/menu/gnb_a_01.gif" alt="사이트 관리" /></a>
							<ul class="depth2 menu1">
								<li><a href="/areas/unitylabs/groupmng/index.asp"><img src="/images/menu/gnb_a_0101.gif" alt="소속 관리"/></a></li>
								<li><a href="/areas/unitylabs/groupadmin/index.asp"><img src="/images/menu/gnb_a_0102.gif" alt="관리자 관리"/></a></li>
								<li><a href="/areas/unitylabs/membermng/index.asp"><img src="/images/menu/gnb_a_0103.gif" alt="회원관리"/></a></li>
								<li><a href="/areas/unitylabs/buildingmn리g/index.asp"><img src="/images/menu/gnb_a_0104.gif" alt="건물관리"/></a></li>
								<li><a href="/areas/unitylabs/safechecktype/index.asp"><img src="/images/menu/gnb_a_0105.gif" alt="안전점검"/></a></li>
								<li><a href="/areas/unitylabs/boardmng/index.asp"><img src="/images/menu/gnb_a_0106.gif" alt="게시판 관리"/></a></li>
								<li><a href="/areas/unitylabs/labqna/index.asp"><img src="/images/menu/gnb_a_0107.gif" alt="건의사항"/></a></li>
							</ul>
						</li>
						<li><a href="/areas/unitylabs/labmng/index.asp"><img src="/images/menu/gnb_a_02.gif" alt="연구실 관리" /></a>
							<ul class="depth2 menu2">
								<li><a href="/areas/unitylabs/labmng/index.asp"><img src="/images/menu/gnb_a_0201.gif" alt="연구실 관리"/></a></li>
								<li><a href="/areas/unitylabs/labedu/index.asp"><img src="/images/menu/gnb_a_0202.gif" alt="안전교육 관리"/></a></li>
								<li><a href="/areas/unitylabs/labday/index.asp"><img src="/images/menu/gnb_a_0203.gif" alt="일상점검 관리"/></a></li>
								<li><a href="/areas/unitylabs/labchemical/index.asp"><img src="/images/menu/gnb_a_0204.gif" alt="화학약품 관리"/></a></li>
								<li><a href="/areas/unitylabs/labwaste/index.asp"><img src="/images/menu/gnb_a_0205.gif" alt="폐기물 관리"/></a></li>
								<li><a href="/areas/unitylabs/safecheckmng/index.asp"><img src="/images/menu/gnb_a_0206.gif" alt="안전점검"/></a></li>
								<li><a href="/areas/unitylabs/labcheckup/index.asp"><img src="/images/menu/gnb_a_0207.gif" alt="건강검진 관리"/></a></li>
								<li><a href="/areas/unitylabs/radioisotope/index.asp"><img src="/images/menu/gnb_a_0208.gif" alt="방사성동위원소 관리"/></a></li>
							</ul>
						</li>
						<li><a href="/areas/unitylabs/contents/index.asp"><img src="/images/menu/gnb_a_03.gif" alt="안전교육 관리" /></a>
							<ul class="depth2 menu3">
								<li><a href="/areas/unitylabs/contents/index.asp"><img src="/images/menu/gnb_a_0301.gif" alt="교육 콘텐츠 관리"/></a></li>
								<li><a href="/areas/unitylabs/coursemng/index.asp"><img src="/images/menu/gnb_a_0302.gif" alt="교육 코스 관리"/></a></li>
								<li><a href="/areas/unitylabs/schedule/index.asp"><img src="/images/menu/gnb_a_0303.gif" alt="안전교육 관리"/></a></li>
								<li><a href="/areas/unitylabs/report/index.asp"><img src="/images/menu/gnb_a_0304.gif" alt="안전교육 통계"/></a></li>
							</ul>
						</li>
						<li><a href="/areas/unitylabs/msds/index.asp"><img src="/images/menu/gnb_a_04.gif" alt="MSDS" /></a></li>
					</ul>            
				</div>
				<a href="/index.asp" class="go_lab"><img src="/images/menu/go_safe.gif" alt="홈페이지 바로가기" /></a>
			</div>
		</div> 
		<div class="contentswrap outer-center" >        <div class="middle-west">  
			<div id="left">
				<h2><img src="/images/menu/left_h2_a02.gif" alt="연구실 관리" /></h2>
				<div class="left_bg">
					<img src="/images/menu/bg_left_top.gif" alt=""/>
					<ul id="leftmenu">
						<li><a href="/areas/unitylabs/labmng/index.asp"><img src="/images/menu/lefta0201.gif" alt="연구실 관리"/></a></li>
						<li><a href="/areas/unitylabs/labedu/index.asp"><img src="/images/menu/lefta0202.gif" alt="안전교육 관리" /></a></li>
						<li><a href="/areas/unitylabs/labday/index.asp"><img src="/images/menu/lefta0203.gif" alt="일상점검 관리" /></a></li>
						<li><a href="/areas/unitylabs/labchemical/index.asp"><img src="/images/menu/lefta0204.gif" alt="화학약품 관리" /></a></li>
						<li><a href="/areas/unitylabs/labwaste/index.asp"><img src="/images/menu/lefta0205.gif" alt="폐기물 처리" /></a>
							<ul>
								<li><a href="/areas/unitylabs/labwaste/index.asp"><img src="/images/menu/lefta020501.gif" alt="실험폐액 관리" /></a></li>
								<li><a href="/areas/unitylabs/labwaste/index2.asp"><img src="/images/menu/lefta020502.gif" alt="폐시약 관리" /></a></li>
								<li><a href="/areas/unitylabs/labwaste/index3.asp"><img src="/images/menu/lefta020503.gif" alt="폐시약병 관리"/></a></li>
								<li><a href="/areas/unitylabs/labwaste/index4.asp"><img src="/images/menu/lefta020504.gif" alt="의료폐기물 관리"/></a></li>
							</ul>
						</li>
						<li><a href="/areas/unitylabs/safecheckmng/index.asp"><img src="/images/menu/lefta0206.gif" alt="안전점검 관리" /></a>
							<ul>
								<li><a href="/areas/unitylabs/safecheckmng/index.asp"><img src="/images/menu/lefta020601.gif" alt="안전점검 등록 관리" /></a></li>
								<li><a href="/areas/unitylabs/safecheckapprove/index.asp"><img src="/images/menu/lefta020602.gif" alt="안전점검 승인 관리" /></a></li>
							</ul>
						</li>
						<li><a href="/areas/unitylabs/labcheckup/index.asp"><img src="/images/menu/lefta0207.gif" alt="건강검진 관리" /></a></li>
						<li><a href="/areas/unitylabs/radioisotope/index.asp"><img src="/images/menu/lefta0208.gif" alt="방사성동위원소 관리" /></a></li>
					</ul>
				</div>
			</div>
		</div>
   
			<div id="contents" class="middle-center">
				<!-- container -->
				<div class="title ui-layout-north">
					<!-- location -->
					<p class="location">
						<a href="/" class="home">HOME</a>
						<a href="#">연구실</a>
						<span>일상점검 관리</span>      
					</p>
					<!-- //location -->
					<!-- page title -->
					<h3><img src="/images/menu/h2_a0203.gif" alt="일상점검 관리" /></h3>
					<!-- //page title -->					
				</div>
				<!-- container -->
				<div id="container" class="inner-center">
					<!-- frame-north -->
					<div class="frame-north">
					<!-- dst01 -->
					<div class="dst01 board-north">
						<!-- inner -->
						<div class="inner">
							<!--search-->
							<table class="tst02">
								<colgroup>
								<col width="15%" />
								<col width="*" />
								</colgroup>
								<tbody>			
									<tr>
										<th class="first">조회기간</th>
										<td>
											<select id="lab0101" class="date">
												<option value="0" selected="selected">2001</option>
											</select>
											<span>년</span>&nbsp;
											<select id="lab0102" class="day">
												<option value="0" selected="selected">10</option>
											</select>
											<span>월</span>&nbsp;
											<select id="lab0103" class="day">
												<option value="0" selected="selected">10</option>
											</select>
											<span>일</span>
											<a href="#"><img src="/images/board/icon_calendar.gif" alt="달력선택"/></a>
											<span>&nbsp;~&nbsp;</span>
											 <select id="lab0104" class="date">
												<option value="0" selected="selected">2001</option>
											</select>
											<span>년</span>&nbsp;
											<select id="lab0105" class="day">
												<option value="0" selected="selected">10</option>
											</select>
											<span>월</span>&nbsp;
											<select id="lab0106" class="day">
												<option value="0" selected="selected">10</option>
											</select>
											<span>일</span>
											<a href="#"><img src="/images/board/icon_calendar.gif" alt="달력선택"/></a>
											&nbsp;&nbsp;&nbsp;
											<a href="#"><img src="/images/board/btn_dday.gif" alt="당일"/></a>
											<a href="#"><img src="/images/board/btn_week.gif" alt="일주"/></a>
											<a href="#"><img src="/images/board/btn_month.gif" alt="1개월"/></a>
											<a href="#"><img src="/images/board/btn_3month.gif" alt="3개월"/></a>
											<a href="#"><img src="/images/board/btn_6month.gif" alt="6개월"/></a>
										</td>	
									</tr>
									<tr>
										<th class="first">구분</th>
										<td>
											<input type="radio" id="lab0201" name="lab02" checked="checked"/>&nbsp;<label for="lab0201">대원/대학원</label>&nbsp;
											<input type="radio" id="lab0202" name="lab02" />&nbsp;<label for="lab0202">부속기관</label>&nbsp;
											<input type="radio" id="lab0203" name="lab02" />&nbsp;<label for="lab0203">연구소(센터)</label>&nbsp;
										</td>	
									</tr>
									<tr>
										<th class="first">소속</th>
										<td colspan="3" >											
											<select id="lab03" class="select03" title="캠퍼스">
												<option value="0" selected="selected">--</option>
											</select>
											<span>캠퍼스</span>
											<select id="lab0301" class="select03" title="대학/대학원">
												<option value="0" selected="selected">--</option>
											</select>
											<span>대학/대학원</span>
											<select id="lab0302" class="select03" title="학과">
												<option value="0" selected="selected">--</option>
											</select>
											<span>계열/대학</span>
											<select id="lab0303" class="select03" title="학과">
												<option value="0" selected="selected">--</option>
											</select>
											<span>학과</span>							
										</td>										
									</tr>
									<tr>
										<th>연구실험실명</th>
										<td colspan="3">
											<input id="lab03" class="inputa02"/>    
										</td>											
									</tr>
									<tr>
										<th class="first">조회내용</th>
										<td>
											<input type="radio" id="lab0401" name="lab04" checked="checked"/>&nbsp;<label for="lab0401">전체</label>&nbsp;
											<input type="radio" id="lab0402" name="lab04" />&nbsp;<label for="lab0402">온라인 일상점검</label>&nbsp;
											<input type="radio" id="lab0403" name="lab04" />&nbsp;<label for="lab0403">점검표 일상점검</label>&nbsp;
										</td>	
									</tr>
								</tbody>
							</table>
							<!--//search-->
							<div class="search_btn">
							<a href="#"><img src="/images/board/btn_search02.gif" alt="검색"/></a>    
							</div>
						</div>    
						<!-- //inner -->
						<!-- board_btn -->
						<div class="board_btn2">
							<span class="left">전체 : 8</span>
							<!-- writebtn -->
							<div class="writebtn">
							<!--a href="#" target="division_view"><img src="/images/board/btn_eduCurrentPrint.gif" alt="교육현황 출력" /></a-->
							</div>
							<!-- //writebtn -->
						</div>
						<!-- //board_btn -->
						<div class="tst0101_title">
							<table class="tst0101">
								<colgroup>
									<col width="40px" />
									<col width="*" />
									<col width="110px" />
									<col width="100px" />
									<col width="90px" />
									<col width="100px" />
									<col width="50px" />
									<col width="50px" />
									<col width="50px" />
								</colgroup>
								<thead>
								<tr>
									<th class="first" rowspan="2"><input type="checkbox" id="chidAll"/></th>
									<th rowspan="2">실명(호실)<br/>/소속</th>
									<!--th rowspan="2" title="실명테스트입니다.">실명(호실)</th-->
									<th rowspan="2">건물명</th>
									<th rowspan="2">책임자</th>
									<th rowspan="2">점검방식</th>
									<th rowspan="2">최종점검일</th>
									<th rowspan="2">점검자</th>
									<th colspan="2">점검내역</th>
								</tr>
								<tr>
									<td class="th">적합</td>
									<td class="th">부적합</td>
								</tr>
								</thead>	
							</table>
						</div>

					</div>
					<!-- //dst01 -->
					<!-- board-center -->
					<div class="board-center">
					<!-- board - list -->
						<!-- tst0101 -->
						<table class="tst0101">
							<colgroup>
								<col width="40px" />
								<col width="*" />
								<col width="110px" />
								<col width="100px" />
								<col width="90px" />
								<col width="100px" />
								<col width="50px" />
								<col width="50px" />
								<col width="50px" />
							</colgroup>
								<tbody>
									<tr>
										<td class="first"><input type="checkbox" id="chid01"/></td>
										<td class="left"><a href="/areas/unitylabs/labday/details_tab01_View.asp" target="division_view"><span class="name">신경분자생물학실</span>(106) <br />자연과학대학 &gt; 생명공학과</a></td>
										<td>자연과학관</td>
										<td>홍길동</td>
										<td>온라인</td>
										<td>2012.04.10</td>
										<td>홍길동</td>
										<td>10</td>
										<td>-</td>
									</tr>	
									<tr class="selected">
										<td class="first"><input type="checkbox" id="chid01"/></td>
										<td class="left"><a href="/areas/unitylabs/labday/details_tab01_View.asp" target="division_view"><span class="name">신경분자생물학실</span>(106) <br />자연과학대학 &gt; 생명공학과</a></td>
										<td>자연과학관</td>
										<td>홍길동</td>
										<td>온라인</td>
										<td>2012.04.10</td>
										<td>홍길동</td>
										<td>10</td>
										<td>-</td>
									</tr>
									<tr>
										<td class="first"><input type="checkbox" id="chid01"/></td>
										<td class="left"><a href="/areas/unitylabs/labday/details_tab01_View.asp" target="division_view"><span class="name">신경분자생물학실</span>(106) <br />자연과학대학 &gt; 생명공학과</a></td>
										<td>자연과학관</td>
										<td>홍길동</td>
										<td>온라인</td>
										<td>2012.04.10</td>
										<td>홍길동</td>
										<td>10</td>
										<td>-</td>
									</tr>
									<tr>
										<td class="first"><input type="checkbox" id="chid01"/></td>
										<td class="left"><a href="/areas/unitylabs/labday/details_tab01_View.asp" target="division_view"><span class="name">신경분자생물학실</span>(106) <br />자연과학대학 &gt; 생명공학과</a></td>
										<td>자연과학관</td>
										<td>홍길동</td>
										<td>온라인</td>
										<td>2012.04.10</td>
										<td>홍길동</td>
										<td>10</td>
										<td>-</td>
									</tr>
									<tr>
										<td class="first"><input type="checkbox" id="chid01"/></td>
										<td class="left"><a href="/areas/unitylabs/labday/details_tab01_View.asp" target="division_view"><span class="name">신경분자생물학실</span>(106) <br />자연과학대학 &gt; 생명공학과</a></td>
										<td>자연과학관</td>
										<td>홍길동</td>
										<td>온라인</td>
										<td>2012.04.10</td>
										<td>홍길동</td>
										<td>10</td>
										<td>-</td>
									</tr>
								</tbody>
							</table>
							<!-- //tst0101 -->
						</div>	
							<!-- //board-center -->								
							<!-- page board-south-->
							<div class="pager board-south">
								<ul>
									<li><a href="#"><img src="/images/board/btn_i_first.gif" alt="처음목록" /></a></li>
									<li><a href="#"><img src="/images/board/btn_i_prev.gif" alt="이전목록" /></a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li class="on"><a href="#">5</a></li>
									<li><a href="#">6</a></li>
									<li><a href="#">7</a></li>
									<li><a href="#">8</a></li>
									<li><a href="#">9</a></li>
									<li><a href="#">10</a></li>                        
									<li><a href="#"><img src="/images/board/btn_i_next.gif" alt="다음목록" /></a></li>
									<li><a href="#"><img src="/images/board/btn_i_last.gif" alt="마지막목록" /></a></li>
								</ul>
								<!-- writebtn -->
								<div class="writebtn">
								<a href="#"><img src="/images/board/btn_fileDown.gif" alt="파일로 저장" /></a>
								</div>
								<!-- //writebtn -->
							</div>    							
							<!-- //page-->
						</div>					
						<!-- //frame-north -->

					<!-- ui-layout-south -->
					<div class="frame-center" >	
					<iframe name="division_view" src="about:blank" longdesc="/safelaw/details.asp" width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
					</div>
					<!-- //ui-layout-south -->
				</div>
				<!-- //container -->
			</div>
			<!-- //container -->
		</div>
		<!-- //contents -->


	</div>
	<!-- //wrap -->
	</div>
	<!-- //wrapArea -->
	<!--
	<div id="footer" class="all-south">
    	<div class="footerwrap">
            <p class="logo"><img src="/images/layout/logo_g.gif" alt="인천대학교" /></p>
            <address><img src="/images/layout/footer_address.gif" alt="(406-772)인천광역시 연수구 아카데미로 119(송도동)인천대학교 전화:032)835-8114 팩스: 032)835-0715"/></address>
            <p class="copy"><img src="/images/layout/footer_copyright.gif" alt="Copyright(c) 1979-2012 UNIVERSITY INCHEON All Rights Reserved."/></p>
        </div>
    </div> -->
</div>   
<script type="text/javascript">    topmenu(2, 3); leftmenu(3, 1);</script>

</body>
</html>